.about {
  background: $light-gray-2;
  margin-top: -20vh;

  &__content-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: $gap-vertical;
    column-gap: $gap-horizontal;
  }

  &__img-composition {
    position: relative;
  }
}

.composition__photo {
  max-width: 55%;
  box-shadow: 0 1.5rem 4rem rgba($black, 0.4);
  //   border-radius: 2px;
  position: absolute;
  transition: all 0.4s ease;

  &-p1 {
    left: 0;
    top: -2rem;
  }
  &-p2 {
    right: 0;
    top: 1rem;
  }
  &-p3 {
    bottom: 10%;
    left: 20%;
  }
  &:is(:hover, :focus-visible) {
    transform: scale(1.1) translateY(-1rem);

    box-shadow: 0 2.5rem 4rem rgba($black, 0.4);
    z-index: 20;
    outline: 1.5rem solid $medium-green;
    outline-offset: 1rem;
  }
}

.about__img-composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}
