.book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $light-green, $dark-green);

  &__card {
    background-image: linear-gradient(
        105deg,
        rgba($white, 0.8) 0%,
        rgba($white, 0.8) 50%,
        transparent 50%
      ),
      url("../../assets/nat-10.jpg");
    background-size: 100%;
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.3);
  }
  &__form {
    width: 50%;
    padding: 6rem;
  }
}
.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__input {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    background-color: rgba($white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    color: inherit;
    display: block;
    transition: all 0.3s ease;

    &:focus:invalid {
      border-color: $color-secondary-dark;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($black, 0.3);
      border-bottom: 3px solid $dark-green;
    }
    &::-webkit-input-placeholder {
      color: #999;
    }
  }

  &__label {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s ease;
    // transform: translateY(0);
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 48%;
    display: inline-block;
  }
  &__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }
  &__radio-button {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border: 5px solid $medium-green;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -0.5rem;
    &::after {
    }
  }
}
