.features {
  background-image: linear-gradient(
      to right bottom,
      rgba($light-green, 0.76),
      rgba($dark-green, 0.76)
    ),
    url(../assets/nat-4.jpg);

  background-size: cover;

  margin-top: -20vh;
  clip-path: polygon(100% 0%, 0% 25vh, 0% 100%, 100% 100%);
}

.feature-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $gap-vertical;
  max-width: $container-width;
  margin: 0 auto;
}

.feature {
  background-color: rgba($white, $alpha: 0.8);
  padding: 3rem 2rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($black, 0.2);
  transition: all 0.4s ease;

  &__icon {
    width: 6rem;
    height: 6rem;
    margin-bottom: 2rem;

    color: $medium-green;
  }

  &:hover {
    transform: translateY(-2rem) scale(1.04);
  }
  &__text {
    font-weight: bold;
  }
}
