.stories {
  padding: 15rem 0;
  position: relative;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($black, 0.2);
  background: rgba($white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 6rem;
  }

  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    // background-color: aquamarine;

    float: left;
    transform: translateX(-3rem) skewX(12deg);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;

    img {
      height: 100%;
      transform: translateX(-4rem) scale(1.16);
      transition: all 0.4s ease;
    }
  }

  &__text {
    transform: skewX(12deg);
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    color: $white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
    transition: all 0.4s ease;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(95%);
  }
}

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  opacity: 0.22;
  z-index: -1;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
