.btn {
  &:is(:link, :visited) {
    display: inline-block;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    transition: all 0.3s ease;
    border: none;
    position: relative;
    border-radius: 10rem;
  }

  &:is(:hover) {
    transform: translateY(-4px);
    box-shadow: 0 1rem 2rem rgba($black, 0.2);

    &::after {
      transform: scaleX(1.8) scaleY(1.4);
      opacity: 0;
    }
  }
  &:is(:active) {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($black, 0.4);
  }

  &--white {
    background-color: $white;
    color: $light-gray;
  }
  &--green {
    background-color: $medium-green;
    color: $white;
  }
  &--animated {
    animation: moveInBtn 0.6s ease 0.75s;
    animation-fill-mode: backwards;
  }
  &:after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    inset: 0;
    z-index: -1;
    background-color: $white;
    opacity: 1;
    border-radius: 10rem;
    transition: all 0.4s ease;
  }
}

.btn--text {
  &:is(:link, :visited) {
    color: $medium-green;
    display: inline-block;
    border-bottom: 1px solid $medium-green;
    padding: 3px;
    transition: all 0.4s ease;
    font-size: $default-fz;
  }

  &:is(:hover, :focus-visible) {
    background-color: $medium-green;
    color: $white;
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba($black, 0.2);
  }
  &:is(:active) {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.5rem 1rem rgba($black, 0.4);
  }
}
