.heading-primary {
  color: $white;
  text-transform: uppercase;
  font-weight: 400;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;

    letter-spacing: 3.5rem;
    animation: moveInRight 1s ease;
    @include respond(phone) {
      letter-spacing: 1.5rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInLeft 1s ease;
    @include respond(phone) {
      letter-spacing: 0.7rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $light-green, $dark-green);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.3s ease;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewX(10deg) skewY(2deg) scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba($black, 0.3);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
}

.para {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
