// Import Partials

//  // Abstracts
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./abstracts/functions";
//  // base
@import "./base/base";
@import "./base/animations";
@import "./base/typography";
@import "./base/utilities";

//  // Components
@import "./components/btn";

//  // Layout
@import "./layout/_navigation.scss";
@import "./layout/header";
@import "./layout/about";
@import "./layout/features";
@import "./layout/tours";
@import "./layout/stories";
@import "./layout/book";
@import "./layout/footer";
@import "./layout/popup";

//  // Pages
@import "./pages/home";
